.payment-form {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	text-align: center;
}

h1 {
	margin-top: 0;
}

form {
	display: inline-block;
	text-align: left;
}

label {
	display: block;
}

input, select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

button {
	font-size: 24px;
	padding: 10px 20px;
	border: none;
	background-color: #3CB371;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
